<a href="https://colab.research.google.com/github/sathiyakeerthy/task_7/blob/main/Assignment_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Step 1: Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

Step 2: Importing dataset

In [4]:
dataset = pd.read_csv('/content/Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [7]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

Step 3: Handling the missing data

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

Step 4: Encoding categorical data

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop= 'first'), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

Step 5:Splitting the datasets into training sets and Test sets

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [12]:
print(X_train)

[['Spain' 38.77777777777778 52000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 44.0 72000.0]
 ['Spain' 38.0 61000.0]
 ['Spain' 27.0 48000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 35.0 58000.0]]

In [13]:
print(y_train)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes']

In [14]:
print(y_test)

['No' 'Yes']

Step 6: Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 2:] = sc.fit_transform(X_train[:, 2:])
X_test[:, 2:] = sc.transform(X_test[:, 2:])

In [16]:
print(X_train)

[['Spain' 38.77777777777778 -1.0781259408412422]
 ['Germany' 40.0 -0.0701316764163537]
 ['France' 44.0 0.6335624327104549]
 ['Spain' 38.0 -0.3078661727429786]
 ['Spain' 27.0 -1.4204636155515817]
 ['France' 48.0 1.2326533634535488]
 ['Germany' 50.0 1.5749910381638883]
 ['France' 35.0 -0.5646194287757332]]

In [17]:
print(X_test)

[['Germany' 30.0 -0.9069571034860726]
 ['France' 37.0 0.20564033932253056]]